<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Flights</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
    <body>
        <h2>Flights:</h2>
        <table>
            <tr><th>Airlines</th>
            <th>Departure City</th>
            <th>Arrival City</th>
            <th>Departure Time</th>

            </tr>

            <tr th:each="flight:${flights}">
            <td th:text="${flight.operatingAirlines}"></td>
            <td th:text="${flight.departureCity}"></td>
            <td th:text="${flight.arrivalCity}"></td>
            <td th:text="${flight.estimatedDepartureTime}"></td>
            <td><a th:href="@{'showCompleteReservation?flightId='+${flight.id}}">Select</a></td>
            </tr>
        </table>
    </body>
</html>