<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Create Location</title>
    </head>
    <body>
        <h2>User Registration:</h2>
        <form action="registerUser" method="post">
            <pre>
                First Name: <input type="text" name="firstName"/>
                Last Name:  <input type="text" name="lastName"/>
                User Name: <input type="text" name="email"/>
                Password: <input type="password" name="password"/>
                Confirm Password: <input type="password" name="confirmPassword"/>
                <input type="submit" value="register"/>
            </pre>
        </form>
    </body>
</html>